// Universal Styling
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

//Animation to make the background change color
@keyframes colorChange {
    0% {background-color: red;}
    33% {background-color: yellow;}
    66% {background-color: cyan;}
    100% {background-color: purple;}
}

//Setting the color, dimensions, and general layout of the page
body {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    animation: colorChange 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    //Styling for the play button
    #playButton {
        width: calc(15vw + 15vh);
        height: calc(15vw + 15vh);
        cursor: pointer;

        &:hover {
            transform: scale(110%);
        }

        &:active {
            transform: scale(90%);
        }
    }

    //Styling for instances of "duane"
    .duane {
        position: absolute;
        left: 0;
        top: 0;
        transition: transform 60s;
    }

}

